{% extends "_common/layout.html" %}
{% block title %} Delete Customer {% endblock %}
{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <form method="POST">
            {% csrf_token %}
            <h2>Are you sure you want to delete "{{ object.discount }}"?</h2>
            <div class="d-flex justify-content-center">
                <input 
                    class="btn btn-success"
                    type="submit" 
                    value="Yes"
                >
                <a 
                    class="btn btn-secondary ml-2"
                    href="{% url 'customer-discount-detail' pk=object.id %}"
                >
                    No
                </a>
            </div>
        </form>    
    </div>
{% endblock %}