{% extends "_common/layout.html" %}
{% block title %} List Purchase {% endblock %}

{% block content %}
    <h2 class="text-center">List Purchase</h2>
    <a 
        href="{% url 'purchase-create' %}"
        class="btn btn-primary"
    >
        Add New Data
    </a>
    <table class="dt table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ object.product }}</td>
                    <td>{{ object.qty }}</td>
                    <td>{{ object.capital_price }}</td>
                    <td>{{ object.status }}</td>
                    <td>
                        <a href="{% url 'purchase-detail' pk=object.id %}" class="btn btn-primary">Detail</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}